*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    max-width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.calculatrice{
    background: #000;
    display: grid;
    grid-template-columns: repeat(4);
    grid-template-rows: repeat(5);
    width: 250px;
    height:160px;
    
    }
.ecran{
    background: #190575;
    grid-column:1/span 4 ;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   font-size: 25px;
   border-radius: 0.5px;
   color: white;
   height: 30px;
   margin-bottom: 0px;
  
}